<!-- Page Content -->
<div class="container content">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Telah terjadi error, proses pembayaran anda kami batalkan. 
                Silahkan menuju ke <a href="{{ @BASE }}/kelas">kelas lain</a> untuk melihat daftar kelas yang ada
                dan silahkan coba daftar lagi.
            </div>
        </div>
    </div>
</div>
<!-- /.container -->